<h1 mat-dialog-title class="header-modal">Informações - Receita: {{ detalhesReceita.receita.nome }}</h1>
<mat-dialog-content class="mat-typography">
    
    <h2>Ingredientes</h2>
        <p *ngIf="ingredientes">{{ ingredientes }}</p>
        <p *ngIf="!ingredientes">-</p>
    <hr>
    
    <h3>Modo de preparo</h3>
        <p *ngIf="modoPreparo"> {{ modoPreparo }}</p>
        <p *ngIf="!modoPreparo">-</p>
    <hr>

    <h4 *ngIf="outrasInformacoes">Outras informações</h4>
        <p *ngIf="outrasInformacoes">{{ outrasInformacoes }}</p>
    
    </mat-dialog-content>
<mat-dialog-actions align="end" class="footer-modal">
    <button mat-button mat-dialog-close class="close-modal">Fechar</button>
</mat-dialog-actions>