.conteudo-fundo {
    background-color: #D26B2F;
}
.spinner {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.main { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 3rem;
}
.box-receitas {
    display: flex;
    flex-direction: column;
}
.receita-titulo {
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Cabin', sans-serif;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 16rem;
}
