.conteudo-fundo {
    background-image: url("../../../assets/fundo.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spinner {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.apostolo {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: #fff;
}
.texto-evangelho {
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    text-align: justify;
    padding: 0.6rem;
}
.alterar-evangelho {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}